  {% include "header.html" %}
 <section class="inner-banner">
            <div class="container">
                <div class="inner-banner__content-wrap">
                    <h2 class="inner-banner__title">Contact Page</h2><!-- /.inner-banner__title -->
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="contact.html">Contact Page</a></li>
                    </ul><!-- /.thm-breadcrumb -->
                </div><!-- /.inner-banner__content-wrap -->
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
        <section class="contact-info-one">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-7">
                        <div class="contact-info-one__content">
                            <div class="block-title">
                                <p class="block-title__tag-line">Contact</p><!-- /.block-title__tag-line -->
                                <h3 class="block-title__title"><span>Contact with us</span></h3><!-- /.block-title__title -->
                                <p class="block-title__text">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt
                                    labore et dolore magna alqua <br> enim ad minim veniam quis
                                    nostrud exercitation ulac laboris.</p><!-- /.block-title__text -->
                            </div><!-- /.block-title -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="google-map__contact" allowfullscreen></iframe>
                        </div><!-- /.contact-info-one__content -->
                    </div><!-- /.col-lg-7 -->
                    <div class="col-lg-4 wow fadeInRight" data-wow-duration="1500ms">
                        <div class="contact-info-one__box ">
                            <div class="contact-info-one__single">
                                <p class="contact-info-one__label">Address</p><!-- /.contact-info-one__label -->
                                <p class="contact-info-one__text">77408 Satterfield Motorway
                                    New Antonetta, BC K3L6P6</p><!-- /.contact-info-one__text -->
                            </div><!-- /.contact-info-one__single -->
                            <div class="contact-info-one__single">
                                <p class="contact-info-one__label">Phone</p><!-- /.contact-info-one__label -->
                                <p class="contact-info-one__text"><a href="tel:+081-325-665-9487">(+081) 325 665 9487</a>
                                    <a href="tel:+081-325-665-9489">(+081) 325 665 9489</a></p><!-- /.contact-info-one__text -->
                            </div><!-- /.contact-info-one__single -->
                            <div class="contact-info-one__single">
                                <p class="contact-info-one__label">Email</p><!-- /.contact-info-one__label -->
                                <p class="contact-info-one__text"><a href="mailto:hello@example.com">hello@example.com</a>
                                    <a href="mailto:support@example.com">support@example.com</a></p><!-- /.contact-info-one__text -->
                            </div><!-- /.contact-info-one__single -->
                            <div class="contact-info-one__single">
                                <p class="contact-info-one__label">Share</p><!-- /.contact-info-one__label -->
                                <div class="contact-info-one__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.contact-info-one__social -->
                            </div><!-- /.contact-info-one__single -->
                        </div><!-- /.contact-info-one__box -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row justify-content-between -->
            </div><!-- /.container -->
        </section><!-- /.contact-info-one -->
        <section class="contact-one">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title"><span>Get in touch</span></h2><!-- /.block-title__title -->
                    <p class="block-title__text">Dolor sit amet consectetur elit sed eiusmod tempor incididunt labore et dolore
                        <br> magna aliqua enim minim veniam quis
                        nostrud.</p><!-- /.block-title__text -->
                </div><!-- /.block-title -->
                <form action="http://ashik.templatepath.net/intech-preview-html/inc/sendemail.php" class="contact-form-vaidated contact-one__form row">
                    <div class="col-lg-6">
                        <input type="text" placeholder="Your name" name="name">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <input type="text" placeholder="Your email" name="email">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <input type="text" placeholder="Phone" name="phone">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <select name="discussion" class="selectpicker">
                            <option value="">Discuss About</option>
                            <option value="">Discuss About</option>
                            <option value="">Discuss About</option>
                            <option value="">Discuss About</option>
                        </select><!-- /#.selectpicker -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-12">
                        <input type="text" name="subject" placeholder="Subject">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-12">
                        <textarea name="message" placeholder="Your Message"></textarea>
                    </div><!-- /.col-lg-12 -->
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="thm-btn">Send Message</button>
                    </div><!-- /.col-lg-12 -->
                </form>
            </div><!-- /.container -->
        </section><!-- /.contact-one -->
        <section class="cta-two wow fadeInUp" data-wow-duration="2s">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="cta-two__left">
                            <div class="cta-two__inner">
                                <div class="block-title">
                                    <h2 class="block-title__title">We run all kinds of IT services <br>
                                        <span>that vow your success</span></h2><!-- /.block-title__title -->
                                </div><!-- /.block-title -->
                                <a href="contact.html" class="thm-btn cta-two__btn">Contact us</a><!-- /.thm-btn -->
                            </div><!-- /.cta-two__inner -->
                        </div><!-- /.cta-two__left -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="cta-two__right">
                            <div class="cta-two__inner">
                                <div class="block-title">
                                    <h2 class="block-title__title">Make a contact <br>
                                        with our IT staffs. <br>
                                        Call Us?</h2><!-- /.block-title__title -->
                                </div><!-- /.block-title -->
                                <p class="cta-two__phone"><a href="tel:305-587-3407">305-587-3407</a></p>
                                <!-- /.cta-two__phone -->
                            </div><!-- /.cta-two__inner -->
                        </div><!-- /.cta-two__right -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row no-gutters -->
            </div><!-- /.container-fluid -->
        </section><!-- /.cta-two -->
         {% include "footer.html" %}