 <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <a href="index.html" class="footer-widget__logo"><img src="/static/images/resources/logo-light.png" alt=""></a><!-- /.footer-widget__logo -->
                                <p class="footer-widget__text">Lorem ipsum dolor amet consectetur adipielit sed eiusm tempor
                                    incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
                                <!-- /.footer-widget__text -->
                                <div class="footer-widget__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.footer-widget__social -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-2 col-md-6 col-sm-12 d-flex justify-content-lg-center">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">Quick Link</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="about.html">Company History</a></li>
                                    <li><a href="about-2.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="about.html">Privacy Policy</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-lg-center">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">Services</h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__links list-unstyled">
                                    <li><a href="managed-it.html">Managed IT</a></li>
                                    <li><a href="multi-function.html">Multi Function</a></li>
                                    <li><a href="cyber-security.html">Cyber Security</a></li>
                                    <li><a href="data-management.html">Data Management</a></li>
                                    <li><a href="cloud-computing.html">Cloud Computing</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">Contact Info</h3><!-- /.footer-widget__title -->
                                <p class="footer-widget__text">Flat 20, Reynolds Neck, North Hele naville, FV77 8WS</p>
                                <!-- /.footer-widget__text -->
                                <p class="footer-widget__text"><a href="tel:+2305-587-3407">+2(305) 587-3407</a></p><!-- /.footer-widget__text -->
                                <p class="footer-widget__text"><a href="mailto:info@example.com">info@example.com</a></p><!-- /.footer-widget__text -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__copy">intech <i class="fa fa-copyright"></i> 2020 All Right Reserved</div>
                    <!-- /.site-footer__copy -->
                    <ul class="list-unstyled site-footer__links">
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->
    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/TweenMax.min.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/isotope.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/vegas.min.js"></script>
    <script src="/static/js/theme.js"></script>
</body>


<!-- Mirrored from ashik.templatepath.net/intech-preview-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 May 2022 05:18:30 GMT -->
</html>