 {% include "header.html" %}
        <section class="banner-one">
            <div class="banner-one__carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="banner-one__single" style="background-image: url(/static/images/slider/slider-bg-1-1.png);">
                        <div class="container">
                            <img src="/static/images/slider/banner-person-1-1.png" alt="" class="banner-one__moc banner-one__is-animated">
                            <div class="col-lg-6 col-md-8">
                                <div class="banner-one__content">
                                    <p class="banner-one__tag-line banner-one__is-animated">We Provide IT-Services</p>
                                    <!-- /.banner-one__tag-line -->
                                    <h3 class="banner-one__title banner-one__is-animated">Keep Secure Your <br>
                                        IT-Service</h3><!-- /.banner-one__title -->
                                    <p class="banner-one__text banner-one__is-animated">Dolor sit amet consectetur elit sed do
                                        eiusmod tempor incidi
                                        <br>dunt
                                        labore et dolore magna.</p><!-- /.banner-one__text -->
                                    <a href="about-2.html" class="thm-btn banner-one__btn">Learn more</a><!-- /.thm-btn -->
                                </div><!-- /.banner-one__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.container -->
                    </div><!-- /.banner-one__single -->
                </div><!-- /.item -->
                <div class="item">
                    <div class="banner-one__single banner-one__slide-2" style="background-image: url(/static/images/slider/slider-bg-2-1.jpg);">
                        <div class="container">
                            <img src="/static/images/slider/banner-person-2-1.png" alt="" class="banner-one__moc banner-one__is-animated">
                            <div class="col-lg-7 col-md-8">
                                <div class="banner-one__content">
                                    <h3 class="banner-one__title banner-one__is-animated">Reliable & Consistent <br>
                                        IT-Solutions</h3><!-- /.banner-one__title -->
                                    <p class="banner-one__tag-line banner-one__is-animated">We Provide IT-Services</p>
                                    <!-- /.banner-one__tag-line -->
                                    <p class="banner-one__text">Dolor sit amet consectetur elit sed do eiusmod tempor incidi
                                        <br>dunt
                                        labore et dolore magna.</p><!-- /.banner-one__text -->
                                    <div class="banner-one__btn-group">
                                        <a href="contact.html" class="thm-btn banner-one__btn banner-one__is-animated">Free
                                            Consultation</a><!-- /.thm-btn -->
                                        <a href="services.html" class="thm-btn banner-one__btn banner-one__is-animated banner-one__btn-white-bg">Learn
                                            more</a>
                                        <!-- /.thm-btn -->
                                    </div><!-- /.banner-one__btn-group -->
                                </div><!-- /.banner-one__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.container -->
                    </div><!-- /.banner-one__single -->
                </div><!-- /.item -->
                <div class="item">
                    <div class="banner-one__single banner-one__slide-3" style="background-image: url(/static/images/slider/slider-bg-3-1.jpg);">
                        <div class="container">
                            <div class="col-lg-6 col-md-8">
                                <div class="banner-one__content">
                                    <p class="banner-one__tag-line banner-one__is-animated">We Provide IT-Services</p>
                                    <!-- /.banner-one__tag-line -->
                                    <h3 class="banner-one__title banner-one__is-animated">Best IT-Solutions <br>
                                        near the world</h3><!-- /.banner-one__title -->
                                    <p class="banner-one__text">Dolor sit amet consectetur elit sed do eiusmod tempor incidi
                                        <br>dunt
                                        labore et dolore magna.</p><!-- /.banner-one__text -->
                                    <a href="about.html" class="thm-btn banner-one__btn banner-one__is-animated">Learn more</a>
                                    <!-- /.thm-btn -->
                                </div><!-- /.banner-one__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.container -->
                    </div><!-- /.banner-one__single -->
                </div><!-- /.item -->
            </div><!-- /.banner-one__carousel owl-carousel owl-theme -->

        </section><!-- /.banner-one -->
        <section class="appointment-one">
            <div class="container wow fadeInUp" data-wow-duration="1.5s">
                <div class="inner-container">
                    <h3 class="appointment-one__title">Book Appointment</h3><!-- /.appointment-one__title -->
                    <p class="appointment-one__text">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt</p>
                    <!-- /.appointment-one__text -->
                    <form action="http://ashik.templatepath.net/intech-preview-html/contact.html" class="appointment-one__form row">
                        <div class="col-lg-4">
                            <input type="text" name="name" placeholder="Your name">
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <input type="text" name="name" placeholder="Your email">
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <select class="selectpicker">
                                <option value="1">Discussion About</option>
                                <option value="1">Multi-function services</option>
                                <option value="1">Managed IT services</option>
                                <option value="1">Cyber security</option>
                            </select>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-12">
                            <div class="appointment-one__bottom">
                                <p class="appointment-one__text">Lorem ipsum dolor amet constur adipisicing elit sed eiusmpor
                                    incid dolore magna
                                    <br> aliqu enim minim veniam quis nostrud exercittion.</p><!-- /.appointment-one__text -->
                                <button type="submit" class="thm-btn">Get Appointment</button>
                            </div><!-- /.appointment-one__bottom -->
                        </div><!-- /.col-lg-12 -->
                    </form><!-- /.appointment-one__form -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </section><!-- /.appointment-one -->



        <section class="service-one ">
            <div class="container">
                <hr class="style-one">
                <div class="block-title text-center">
                    <h2 class="block-title__title">World best IT-Services <br>
                        <span>we provide</span></h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="service-one__single hvr-bounce-to-bottom">
                            <div class="service-one__icon">
                                <img src="/static/images/icons/intech-icon-1-2.png" alt="" class="normal-icon">
                                <img src="/static/images/icons/intech-icon-1-2-hvr.png" alt="" class="hvr-icon">
                            </div><!-- /.service-one__icon -->
                            <h3 class="service-one__title"><a href="managed-it.html">Managed IT services</a></h3>
                            <!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor
                                incididunt ut labore.</p><!-- /.service-one__text -->
                            <a href="managed-it.html" class="service-one__link"><i class="fa fa-angle-right"></i>
                                <!-- /.fa fa-angle-right --></a><!-- /.service-one__link -->
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                        <div class="service-one__single hvr-bounce-to-bottom">
                            <div class="service-one__icon">
                                <img src="/static/images/icons/intech-icon-1-3.png" alt="" class="normal-icon">
                                <img src="/static/images/icons/intech-icon-1-3-hvr.png" alt="" class="hvr-icon">
                            </div><!-- /.service-one__icon -->
                            <h3 class="service-one__title"><a href="multi-function.html">Multi-function services</a></h3>
                            <!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor
                                incididunt ut labore.</p><!-- /.service-one__text -->
                            <a href="multi-function.html" class="service-one__link"><i class="fa fa-angle-right"></i>
                                <!-- /.fa fa-angle-right --></a><!-- /.service-one__link -->
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                        <div class="service-one__single hvr-bounce-to-bottom">
                            <div class="service-one__icon">
                                <img src="/static/images/icons/intech-icon-1-4.png" alt="" class="normal-icon">
                                <img src="/static/images/icons/intech-icon-1-4-hvr.png" alt="" class="hvr-icon">
                            </div><!-- /.service-one__icon -->
                            <h3 class="service-one__title"><a href="cyber-security.html">Cyber security</a></h3>
                            <!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor
                                incididunt ut labore.</p><!-- /.service-one__text -->
                            <a href="cyber-security.html" class="service-one__link"><i class="fa fa-angle-right"></i>
                                <!-- /.fa fa-angle-right --></a><!-- /.service-one__link -->
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-one -->
        <section class="about-one @@extra_class">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-one__content">
                            <div class="block-title">
                                <h3 class="block-title__title">Best IT-Solutions company <br>
                                    <span>near the world</span></h3><!-- /.block-title__title -->
                                <p class="block-title__text">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt
                                    labore et <br> dolore magna aliqua
                                    enim ad minim veniam quis nostrud exercitation ulac</p>
                                <!-- /.block-title__text -->
                            </div><!-- /.block-title -->
                            <ul class="nav nav-tabs about-one__tab-title" role="tablist">
                                <li class="nav-item about-one__tab-title-item">
                                    <a class="nav-link about-one__tab-title-link active" href="#mission" role="tab" data-toggle="tab">Our Mission</a>
                                </li>
                                <li class="nav-item about-one__tab-title-item">
                                    <a class="nav-link about-one__tab-title-link" href="#vision" role="tab" data-toggle="tab">Our Vission</a>
                                </li>
                                <li class="nav-item about-one__tab-title-item">
                                    <a class="nav-link about-one__tab-title-link" href="#awards" role="tab" data-toggle="tab">Awards Win</a>
                                </li>
                            </ul>
                            <div class="about-one__tab-content tab-content">
                                <div role="tabpanel" class="tab-pane show active  animated fadeInUp" id="mission">
                                    <div class="about-one__content">
                                        <p class="about-one__text">Dolor sit amet consectetur elit sed do eiusmod tempor
                                            incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud
                                            exercitation ulac laboris aliquip ex ea commodo consequat duis aute irure.dolor in
                                            repre henderit in voluptate velit esse cillum dolore.</p>
                                        <ul class="about-one__list list-unstyled">
                                            <li class="about-one__list-item">
                                                consectetur elit sed do eius
                                            </li><!-- /.about-one__list-item -->
                                            <li class="about-one__list-item">
                                                consectetur elit sed
                                            </li><!-- /.about-one__list-item -->
                                            <li class="about-one__list-item">
                                                consectetur elit sed do
                                            </li><!-- /.about-one__list-item -->
                                        </ul><!-- /.about-one__list -->
                                        <a href="#" class="thm-btn about-one__btn">Read More</a>
                                    </div><!-- /.about-one__content -->
                                </div><!-- /.tab-pane -->
                                <div role="tabpanel" class="tab-pane  animated fadeInUp" id="vision">
                                    <div class="about-one__content">
                                        <p class="about-one__text">Dolor sit amet consectetur elit sed do eiusmod tempor
                                            incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud
                                            exercitation ulac laboris aliquip ex ea commodo consequat duis aute irure.dolor in
                                            repre henderit in voluptate velit esse cillum dolore.</p>
                                        <ul class="about-one__list list-unstyled">
                                            <li class="about-one__list-item">
                                                consectetur elit sed do eius
                                            </li><!-- /.about-one__list-item -->
                                            <li class="about-one__list-item">
                                                consectetur elit sed
                                            </li><!-- /.about-one__list-item -->
                                            <li class="about-one__list-item">
                                                consectetur elit sed do
                                            </li><!-- /.about-one__list-item -->
                                        </ul><!-- /.about-one__list -->
                                        <a href="#" class="thm-btn about-one__btn">Read More</a>
                                    </div><!-- /.about-one__content -->
                                </div><!-- /.tab-pane -->
                                <div role="tabpanel" class="tab-pane   animated fadeInUp" id="awards">
                                    <div class="about-one__content">
                                        <p class="about-one__text">Dolor sit amet consectetur elit sed do eiusmod tempor
                                            incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud
                                            exercitation ulac laboris aliquip ex ea commodo consequat duis aute irure.dolor in
                                            repre henderit in voluptate velit esse cillum dolore.</p>
                                        <ul class="about-one__list list-unstyled">
                                            <li class="about-one__list-item">
                                                consectetur elit sed do eius
                                            </li><!-- /.about-one__list-item -->
                                            <li class="about-one__list-item">
                                                consectetur elit sed
                                            </li><!-- /.about-one__list-item -->
                                            <li class="about-one__list-item">
                                                consectetur elit sed do
                                            </li><!-- /.about-one__list-item -->
                                        </ul><!-- /.about-one__list -->
                                        <a href="#" class="thm-btn about-one__btn">Read More</a>
                                    </div><!-- /.about-one__content -->
                                </div><!-- /.tab-pane -->
                            </div><!-- /.tab-content -->
                        </div><!-- /.about-one__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="video-one wow fadeInRight" data-wow-duration="1500ms">
                            <img src="/static/images/resources/video-1-1.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=y2Eqx6ys1hQ" class="hvr-pulse video-one__link video-popup"><i class="fa fa-play"></i></a>
                            <!-- /.video-one__link -->
                        </div><!-- /.video-one -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-one -->


        <div class="brand-one">
            <div class="container">
                <hr class="style-one">
                <div class="brand-one__carousel owl-carousel owl-theme">
                    <div class="item">
                        <img src="/static/images/brand/brand-2-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-5.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-6.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-5.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/static/images/brand/brand-2-6.png" alt="">
                    </div><!-- /.item -->
                </div><!-- /.brand-one__carousel owl-carousel owl-theme -->
            </div><!-- /.container -->
        </div><!-- /.brand-one -->
        <section class="cta-three">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-lg-6 clearfix">
                        <img src="/static/images/resources/about-1-1.jpg" alt="" class="float-right">
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6 d-flex">
                        <div class="my-auto">
                            <div class="cta-three__content">
                                <div class="block-title">
                                    <h2 class="block-title__title">We run all kinds of IT services <br>
                                        <span>that vow your success</span></h2><!-- /.block-title__title -->
                                    <p class="block-title__text">Dolor sit amet consectetur elit sed do eiusmod tempor
                                        incididunt labore et dolore magna aliqua <br> enim ad minim veniam quis nostrud
                                        exercitation ullamco laboris aliquip ex ea commodo consequat <br> duis aute irure dolor
                                        in reprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>
                                        excepteur sint occaecat cupidatat non proident.</p><!-- /.block-title__text -->
                                </div><!-- /.block-title -->
                                <div class="cta-three__btn-block">
                                    <a href="about.html" class="thm-btn cta-three__btn-one">Read More</a><!-- /.thm-btn -->
                                    <a href="contact.html" class="thm-btn cta-three__btn-two">Contact Us</a><!-- /.thm-btn -->
                                </div><!-- /.cta-three__btn-block -->
                            </div><!-- /.cta-three__content -->
                        </div><!-- /.my-auto -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row no-gutters -->
            </div><!-- /.container -->
        </section><!-- /.cta-three -->



        <section class="team-one">
            <div class="container">
                <div class="row no-gutters justify-content-between">
                    <div class="col-lg-4">
                        <div class="team-one__block">
                            <div class="block-title">
                                <h2 class="block-title__title">Meet with our <br>
                                    <span>best experts</span></h2><!-- /.block-title__title -->
                                <p class="block-title__text">Dolor sit amet consectetur elit sed eiusmod <br> tempor incididunt
                                    labore et dolore magna <br> aliqua enim minim veniam quis nostrud <br> exercitation ullamco.
                                </p><!-- /.block-title__text -->
                                <a href="contact.html" class="thm-btn team-one__block-btn">Join Us</a><!-- /.thm-btn -->
                            </div><!-- /.block-title -->
                        </div><!-- /.tea4-one__block -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-1.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.team-two__social -->
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <h3 class="team-one__title"><a href="#">Jose Day</a></h3><!-- /.team-one__title -->
                                <div class="team-one__designation">Co-Founder</div><!-- /.team-one__designation -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-2.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.team-two__social -->
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <h3 class="team-one__title"><a href="#">Lee Harvey</a></h3><!-- /.team-one__title -->
                                <div class="team-one__designation">Co-Founder</div><!-- /.team-one__designation -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-3.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.team-two__social -->
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <h3 class="team-one__title"><a href="#">Nannie Martin</a></h3><!-- /.team-one__title -->
                                <div class="team-one__designation">Co-Founder</div><!-- /.team-one__designation -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-4.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.team-two__social -->
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <h3 class="team-one__title"><a href="#">Norman Benson</a></h3><!-- /.team-one__title -->
                                <div class="team-one__designation">Co-Founder</div><!-- /.team-one__designation -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                            <div class="team-one__image">
                                <img src="/static/images/team/team-1-5.jpg" alt="">
                                <div class="team-one__social">
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div><!-- /.team-two__social -->
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <h3 class="team-one__title"><a href="#">Mable Roberson</a></h3><!-- /.team-one__title -->
                                <div class="team-one__designation">Co-Founder</div><!-- /.team-one__designation -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.team-one -->
        <section class="project-one">
            <div class="container-fluid">
                <div class="block-title text-center">
                    <h2 class="block-title__title">Thousands of projects completed <br>
                        <span>in 20 countries</span></h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <ul class="post-filter text-center list-unstyled ">
                    <li class="active" data-filter=".filter-item"><span>All</span></li>
                    <li data-filter=".Design"><span>Design</span></li>
                    <li data-filter=".Web"><span>Web Development</span></li>
                    <li data-filter=".Illustration"><span>Illustration</span></li>
                    <li data-filter=".Photograpy"><span>Photograpy</span></li>
                </ul><!-- /.post-filter -->
                <div class="row high-gutters filter-layout">
                    <div class="col-lg-3 col-md-6 filter-item Web">
                        <div class="project-one__single">
                            <div class="project-one__image">
                                <img src="/static/images/project/project-1-1.jpg" alt="">
                                <div class="project-one__hover-content">
                                    <a href="case-details.html"><i class="fa fa-link"></i></a>
                                </div><!-- /.project-one__hover-content -->
                            </div><!-- /.project-one__image -->
                            <div class="project-one__content">
                                <h3 class="project-one__title"><a href="case-details.html">Virtual Integration</a></h3>
                                <!-- /.project-one__title -->
                            </div><!-- /.project-one__content -->
                        </div><!-- /.project-one__single -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 filter-item Design Illustration">
                        <div class="project-one__single">
                            <div class="project-one__image">
                                <img src="/static/images/project/project-1-2.jpg" alt="">
                                <div class="project-one__hover-content">
                                    <a href="case-details.html"><i class="fa fa-link"></i></a>
                                </div><!-- /.project-one__hover-content -->
                            </div><!-- /.project-one__image -->
                            <div class="project-one__content">
                                <h3 class="project-one__title"><a href="case-details.html">Managed IT</a></h3>
                                <!-- /.project-one__title -->
                            </div><!-- /.project-one__content -->
                        </div><!-- /.project-one__single -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 filter-item Design Photograpy">
                        <div class="project-one__single">
                            <div class="project-one__image">
                                <img src="/static/images/project/project-1-3.jpg" alt="">
                                <div class="project-one__hover-content">
                                    <a href="case-details.html"><i class="fa fa-link"></i></a>
                                </div><!-- /.project-one__hover-content -->
                            </div><!-- /.project-one__image -->
                            <div class="project-one__content">
                                <h3 class="project-one__title"><a href="case-details.html">Multi Function</a></h3>
                                <!-- /.project-one__title -->
                            </div><!-- /.project-one__content -->
                        </div><!-- /.project-one__single -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 filter-item Photograpy">
                        <div class="project-one__single">
                            <div class="project-one__image">
                                <img src="/static/images/project/project-1-4.jpg" alt="">
                                <div class="project-one__hover-content">
                                    <a href="case-details.html"><i class="fa fa-link"></i></a>
                                </div><!-- /.project-one__hover-content -->
                            </div><!-- /.project-one__image -->
                            <div class="project-one__content">
                                <h3 class="project-one__title"><a href="case-details.html">Cyber Security</a></h3>
                                <!-- /.project-one__title -->
                            </div><!-- /.project-one__content -->
                        </div><!-- /.project-one__single -->
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row high-gutters -->
                <div class="project-one__bottom text-center">
                    <a href="case-study.html" class="thm-btn project-one__more-btn">All Projects</a><!-- /.thm-btn -->
                </div><!-- /.project-one__bottom -->
            </div><!-- /.container-fluid -->
        </section><!-- /.project-one -->
        <section class="testimonials-one ">
            <div class="container">
                <hr class="style-one">
                <div class="block-title text-center">
                    <h2 class="block-title__title">See what our customers <br>
                        <span>are saying...</span></h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <div class="testimonials-one__carousel owl-carousel owl-theme" data-carousel-margin="50">
                    <div class="item">
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="/static/images/resources/testi-1-1.jpg" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <img class="testimonials-one__qoute" src="/static/images/resources/testi-qoute-1-1.png" alt="">
                                <p class="testimonials-one__text">Lorem ipsum dolor sit amet consectetr adipicing elit usmod
                                    tempor incidunt enim minim quis nostrud exer tation ullamco laboris nis aliquip.</p>
                                <!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__title">Isabelle Cook <span>/ Designer</span></h3>
                                <!-- /.testimonials-one__title -->
                                <div class="testimonials-one__stars">
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                </div><!-- /.testimonials-one__stars -->
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="/static/images/resources/testi-1-2.jpg" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <img class="testimonials-one__qoute" src="/static/images/resources/testi-qoute-1-1.png" alt="">
                                <p class="testimonials-one__text">Lorem ipsum dolor sit amet consectetr adipicing elit usmod
                                    tempor incidunt enim minim quis nostrud exer tation ullamco laboris nis aliquip.</p>
                                <!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__title">Peter Ramsey <span>/ Designer</span></h3>
                                <!-- /.testimonials-one__title -->
                                <div class="testimonials-one__stars">
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                </div><!-- /.testimonials-one__stars -->
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="/static/images/resources/testi-1-1.jpg" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <img class="testimonials-one__qoute" src="/static/images/resources/testi-qoute-1-1.png" alt="">
                                <p class="testimonials-one__text">Lorem ipsum dolor sit amet consectetr adipicing elit usmod
                                    tempor incidunt enim minim quis nostrud exer tation ullamco laboris nis aliquip.</p>
                                <!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__title">Henrietta McGuire <span>/ Designer</span></h3>
                                <!-- /.testimonials-one__title -->
                                <div class="testimonials-one__stars">
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                </div><!-- /.testimonials-one__stars -->
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="/static/images/resources/testi-1-2.jpg" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <img class="testimonials-one__qoute" src="/static/images/resources/testi-qoute-1-1.png" alt="">
                                <p class="testimonials-one__text">Lorem ipsum dolor sit amet consectetr adipicing elit usmod
                                    tempor incidunt enim minim quis nostrud exer tation ullamco laboris nis aliquip.</p>
                                <!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__title">Stephen Patrick <span>/ Designer</span></h3>
                                <!-- /.testimonials-one__title -->
                                <div class="testimonials-one__stars">
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                </div><!-- /.testimonials-one__stars -->
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="/static/images/resources/testi-1-1.jpg" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <img class="testimonials-one__qoute" src="/static/images/resources/testi-qoute-1-1.png" alt="">
                                <p class="testimonials-one__text">Lorem ipsum dolor sit amet consectetr adipicing elit usmod
                                    tempor incidunt enim minim quis nostrud exer tation ullamco laboris nis aliquip.</p>
                                <!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__title">Kate Clark <span>/ Designer</span></h3>
                                <!-- /.testimonials-one__title -->
                                <div class="testimonials-one__stars">
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                </div><!-- /.testimonials-one__stars -->
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="testimonials-one__single">
                            <div class="testimonials-one__image">
                                <img src="/static/images/resources/testi-1-2.jpg" alt="">
                            </div><!-- /.testimonials-one__image -->
                            <div class="testimonials-one__content">
                                <img class="testimonials-one__qoute" src="/static/images/resources/testi-qoute-1-1.png" alt="">
                                <p class="testimonials-one__text">Lorem ipsum dolor sit amet consectetr adipicing elit usmod
                                    tempor incidunt enim minim quis nostrud exer tation ullamco laboris nis aliquip.</p>
                                <!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__title">Jon Ball <span>/ Designer</span></h3>
                                <!-- /.testimonials-one__title -->
                                <div class="testimonials-one__stars">
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                    <i class="fa fa-star"></i><!-- /.fa fa-star -->
                                </div><!-- /.testimonials-one__stars -->
                            </div><!-- /.testimonials-one__content -->
                        </div><!-- /.testimonials-one__single -->
                    </div><!-- /.item -->
                </div><!-- /.testimonials-one__carousel -->
            </div><!-- /.container -->
        </section><!-- /.testimonials-one -->
        <section class="funfact-one">
            <div class="container">
                <div class="funfact-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <h3 class="funfact-one__title counter">90</h3><!-- /.funfact-one__title -->
                    <p class="funfact-one__text">Project Complate</p><!-- /.funfact-one__text -->
                </div><!-- /.funfact-one__single -->
                <div class="funfact-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                    <h3 class="funfact-one__title counter">216</h3><!-- /.funfact-one__title -->
                    <p class="funfact-one__text">Satisfied Clients</p><!-- /.funfact-one__text -->
                </div><!-- /.funfact-one__single -->
                <div class="funfact-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1000ms">
                    <h3 class="funfact-one__title counter">35</h3><!-- /.funfact-one__title -->
                    <p class="funfact-one__text">Experienced Staffs</p><!-- /.funfact-one__text -->
                </div><!-- /.funfact-one__single -->
                <div class="funfact-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="1500ms">
                    <h3 class="funfact-one__title counter">10</h3><!-- /.funfact-one__title -->
                    <p class="funfact-one__text">International Awards</p><!-- /.funfact-one__text -->
                </div><!-- /.funfact-one__single -->
            </div><!-- /.container -->
        </section><!-- /.funfact-one -->
        <section class="blog-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog-one__content">
                            <div class="block-title">
                                <h2 class="block-title__title">Latest news & <br>
                                    <span>insights</span></h2><!-- /.block-title__title -->
                            </div><!-- /.block-title -->
                            <div class="blog-one__content-carousel owl-carousel owl-theme">
                                <div class="item">
                                    <p class="blog-one__text">Dolor sit amet consectetur elit sed eiusmod tempor incididunt
                                        labore et dolore magna aliqua
                                        enim minim veniam quis
                                        nostrud exercitation ullamco.</p><!-- /.blog-one__text -->
                                    <div class="blog-one__meta">
                                        <img src="/static/images/blog/blog-author-1-1.jpg" alt="">
                                        <span class="blog-one__meta-text">by <a href="blog-details.html" class="blog-one__author">Leila McGuire</a> / <a href="blog-details.html" class="blog-one__date">May 10, 2019</a></span>
                                    </div><!-- /.blog-one__meta -->
                                </div><!-- /.item -->
                                <div class="item">
                                    <p class="blog-one__text">Dolor sit amet consectetur elit sed eiusmod tempor incididunt
                                        labore et dolore magna aliqua
                                        enim minim veniam quis
                                        nostrud exercitation ullamco.</p><!-- /.blog-one__text -->
                                    <div class="blog-one__meta">
                                        <img src="/static/images/blog/blog-author-1-1.jpg" alt="">
                                        <span class="blog-one__meta-text">by <a href="blog-details.html" class="blog-one__author">Lucy Delgado</a> / <a href="blog-details.html" class="blog-one__date">May 10, 2019</a></span>
                                    </div><!-- /.blog-one__meta -->
                                </div><!-- /.item -->
                                <div class="item">
                                    <p class="blog-one__text">Dolor sit amet consectetur elit sed eiusmod tempor incididunt
                                        labore et dolore magna aliqua
                                        enim minim veniam quis
                                        nostrud exercitation ullamco.</p><!-- /.blog-one__text -->
                                    <div class="blog-one__meta">
                                        <img src="/static/images/blog/blog-author-1-1.jpg" alt="">
                                        <span class="blog-one__meta-text">by <a href="blog-details.html" class="blog-one__author">Jimmy Keller</a> / <a href="blog-details.html" class="blog-one__date">May 10, 2019</a></span>
                                    </div><!-- /.blog-one__meta -->
                                </div><!-- /.item -->
                            </div><!-- /.blog-one__content-carousel -->

                        </div><!-- /.blog-one__content -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-8">
                        <div class="blog-one__featured-image">
                            <div class="blog-one__image-carousel owl-carousel owl-theme">
                                <div class="item">
                                    <div class="blog-one__featured-image-single">
                                        <img src="/static/images/resources/blog-featured-1-1.jpg" alt="">
                                        <div class="blog-one__featured-image__hover-content">
                                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                        </div><!-- /.blog-one__featured-image__hover-content -->
                                    </div><!-- /.blog-one__featured-image-single -->
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="blog-one__featured-image-single">
                                        <img src="/static/images/resources/blog-featured-1-2.jpg" alt="">
                                        <div class="blog-one__featured-image__hover-content">
                                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                        </div><!-- /.blog-one__featured-image__hover-content -->
                                    </div><!-- /.blog-one__featured-image-single -->
                                </div><!-- /.item -->
                                <div class="item">
                                    <div class="blog-one__featured-image-single">
                                        <img src="/static/images/resources/blog-featured-1-3.jpg" alt="">
                                        <div class="blog-one__featured-image__hover-content">
                                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                        </div><!-- /.blog-one__featured-image__hover-content -->
                                    </div><!-- /.blog-one__featured-image-single -->
                                </div><!-- /.item -->
                            </div><!-- /.blog-one__image-carousel -->
                        </div><!-- /.blog-one__featured-image -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one -->
        <section class="cta-one">
            <div class="container text-center">
                <h3 class="cta-one__title">Make a contact with our IT staffs. Call Us?</h3><!-- /.cta-one__title -->
                <p class="cta-one__phone"><a href="tel:305-587-3407">305-587-3407</a></p><!-- /.cta-one__phone -->
            </div><!-- /.container -->
        </section><!-- /.cta-one -->
       {% include "footer.html" %}