 {% include "header.html" %}
  <section class="inner-banner">
            <div class="container">
                <div class="inner-banner__content-wrap">
                    <h2 class="inner-banner__title">Pricing Page</h2><!-- /.inner-banner__title -->
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="pricing.html">Pricing Page</a></li>
                    </ul><!-- /.thm-breadcrumb -->
                </div><!-- /.inner-banner__content-wrap -->
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
        <section class="pricing-one ">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title">No hidden charge choose <br>
                        <span>your pricing plan</span></h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__title">Daily Plan</h3><!-- /.pricing-one__title -->
                            <p class="pricing-one__amount"><span>$20</span>/Day</p><!-- /.pricing-one__amount -->
                            <div class="pricing-one__icon-block">
                                <img src="/static/images/icons/intech-icon-1-1.png" alt="" class="wow fadeInUp" data-wow-duration="1500ms">
                            </div><!-- /.pricing-one__icon-block -->
                            <a href="contact.html" class="thm-btn pricing-one__btn">Select Plan</a><!-- /.thm-btn -->
                            <ul class="pricing-one__list">
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Unlimited campaigns</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Basic donor data</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Team fundraising</li>
                            </ul><!-- /.pricing-one__list -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__title">Weekly Plan</h3><!-- /.pricing-one__title -->
                            <p class="pricing-one__amount"><span>$30</span>/Week</p><!-- /.pricing-one__amount -->
                            <div class="pricing-one__icon-block">
                                <img src="/static/images/icons/intech-icon-1-8.png" alt="" class="wow fadeInUp" data-wow-duration="1500ms">
                            </div><!-- /.pricing-one__icon-block -->
                            <a href="contact.html" class="thm-btn pricing-one__btn">Select Plan</a><!-- /.thm-btn -->
                            <ul class="pricing-one__list">
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Unlimited campaigns</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Basic donor data</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Team fundraising</li>
                            </ul><!-- /.pricing-one__list -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="pricing-one__single">
                            <h3 class="pricing-one__title">Monthly Plan</h3><!-- /.pricing-one__title -->
                            <p class="pricing-one__amount"><span>$50</span>/mo</p><!-- /.pricing-one__amount -->
                            <div class="pricing-one__icon-block">
                                <img src="/static/images/icons/intech-icon-1-9.png" alt="" class="wow fadeInUp" data-wow-duration="1500ms">
                            </div><!-- /.pricing-one__icon-block -->
                            <a href="contact.html" class="thm-btn pricing-one__btn">Select Plan</a><!-- /.thm-btn -->
                            <ul class="pricing-one__list">
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Unlimited campaigns</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Basic donor data</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Team fundraising</li>
                            </ul><!-- /.pricing-one__list -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.pricing-one -->
        <section class="pricing-two">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title">No hidden charge choose <br>
                        <span>your pricing plan</span></h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4">
                        <div data-wow-duration="1500ms" data-wow-delay="0ms" class="pricing-two__single wow fadeInUp">
                            <div class="pricing-two__top">
                                <h2 class="pricing-two__title">Daily Plan</h2><!-- /.pricing-two__title -->
                                <p class="pricing-two__amount"><span>$20</span>/day</p><!-- /.pricing-one__amount -->
                                <p class="pricing-two__text">Lorem ipsum dolor amet consectetur <br>adipisicing sed do eiusmod
                                    tempor <br> incididunt ut labore.</p><!-- /.pricing-two__text -->
                                <a href="contact.html" class="thm-btn pricing-two__btn">Select Plan</a><!-- /.thm-btn -->
                            </div><!-- /.pricing-two__top -->
                            <ul class="pricing-two__list">
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Unlimited campaigns</li>
                                <li><img src="/static/images/resources/cross-1-1.png" alt="">Basic donor data</li>
                                <li><img src="/static/images/resources/cross-1-1.png" alt="">Team fundraising</li>
                            </ul><!-- /.pricing-two__list -->
                        </div><!-- /.pricing-two__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div data-wow-duration="1500ms" data-wow-delay="500ms" class="pricing-two__single wow fadeInUp pricing-two__popular">
                            <div class="pricing-two__top">
                                <h2 class="pricing-two__title">Weekly Plan</h2><!-- /.pricing-two__title -->
                                <p class="pricing-two__amount"><span>$30</span>/week</p><!-- /.pricing-one__amount -->
                                <p class="pricing-two__text">Lorem ipsum dolor amet consectetur <br>adipisicing sed do eiusmod
                                    tempor <br> incididunt ut labore.</p><!-- /.pricing-two__text -->
                                <a href="contact.html" class="thm-btn pricing-two__btn">Select Plan</a><!-- /.thm-btn -->
                            </div><!-- /.pricing-two__top -->
                            <ul class="pricing-two__list">
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Unlimited campaigns</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Basic donor data</li>
                                <li><img src="/static/images/resources/cross-1-1.png" alt="">Team fundraising</li>
                            </ul><!-- /.pricing-two__list -->
                        </div><!-- /.pricing-two__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div data-wow-duration="1500ms" data-wow-delay="1000ms" class="pricing-two__single wow fadeInUp">
                            <div class="pricing-two__top">
                                <h2 class="pricing-two__title">Monthly Plan</h2><!-- /.pricing-two__title -->
                                <p class="pricing-two__amount"><span>$50</span>/Mo</p><!-- /.pricing-one__amount -->
                                <p class="pricing-two__text">Lorem ipsum dolor amet consectetur <br>adipisicing sed do eiusmod
                                    tempor <br> incididunt ut labore.</p><!-- /.pricing-two__text -->
                                <a href="contact.html" class="thm-btn pricing-two__btn">Select Plan</a><!-- /.thm-btn -->
                            </div><!-- /.pricing-two__top -->
                            <ul class="pricing-two__list">
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Unlimited campaigns</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Basic donor data</li>
                                <li><img src="/static/images/resources/tick-1-1.png" alt="">Team fundraising</li>
                            </ul><!-- /.pricing-two__list -->
                        </div><!-- /.pricing-two__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.pricing-two -->
        <section class="cta-two wow fadeInUp" data-wow-duration="2s">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="cta-two__left">
                            <div class="cta-two__inner">
                                <div class="block-title">
                                    <h2 class="block-title__title">We run all kinds of IT services <br>
                                        <span>that vow your success</span></h2><!-- /.block-title__title -->
                                </div><!-- /.block-title -->
                                <a href="contact.html" class="thm-btn cta-two__btn">Contact us</a><!-- /.thm-btn -->
                            </div><!-- /.cta-two__inner -->
                        </div><!-- /.cta-two__left -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="cta-two__right">
                            <div class="cta-two__inner">
                                <div class="block-title">
                                    <h2 class="block-title__title">Make a contact <br>
                                        with our IT staffs. <br>
                                        Call Us?</h2><!-- /.block-title__title -->
                                </div><!-- /.block-title -->
                                <p class="cta-two__phone"><a href="tel:305-587-3407">305-587-3407</a></p>
                                <!-- /.cta-two__phone -->
                            </div><!-- /.cta-two__inner -->
                        </div><!-- /.cta-two__right -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row no-gutters -->
            </div><!-- /.container-fluid -->
        </section><!-- /.cta-two -->



  {% include "footer.html" %}